.navbar {
  display: flex;
  background-color: rgb(1, 38, 69);
  justify-content: space-evenly;
  color: white;
  padding: 10px;
}

  .action-button {
    background-color: #797EF6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .action-button:hover {
    background-color: #1e6197;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
  td, th {
    border-right: 2px solid gray;
    padding: 8px;
  }

  th {
    background-color: #1AA7EC;
    color: white;
    padding: 10px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
    padding: 10px;
  }

  /* Add a hover effect to rows */
  tr:hover {
    background-color: #ddd;
  }

  thead th {
    text-align: center;
  }

  tbody td {
    text-align: center;
  }

  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .success-message{
    font-style: Source Sans Pro;
    font-size: 20px;
    color: white;
  }

  .error-message{
    font-style: Source Sans Pro;
    font-size: 20px;
    color:red;
  }
